@import "@/assets/variables/variables.scss";
html {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

body {
  max-width: 1366px;
  max-height: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $color-white;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}
